body{
    place-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(86, 86, 86);
}


.card {
    box-shadow: 0 4px 8px 0 #0000004f;
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: white;
  }

 button{
    width: 100%;
    border: none;
    padding: 8px;
    background-color: #000;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
  }

  button:hover, a:hover {
    opacity: 0.5;
  }

  button a{
    color: white;
  }

  a {
    text-decoration: none;
    padding: 5px;
    font-size: 30px;
    color: black;
  }

  h1{
    font-size: 35px;
  }

  p{
    color: grey;
    font-size: 24px;
  }
  